.formRegistro{
	padding-top: 100px;
	background-color: #f9f9ff;
}

.titulo2{
	padding: 10px;
	text-align: justify;
}

.miPerfil{
	padding-top: 100px;
	background-color: #f9f9ff;
}

.centroVert{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#tituloPublicacion{
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
}

#descPublicacion{
	width: 100%;
  	height: 100%;
  	padding: 12px 20px;
  	box-sizing: border-box;
  	border: 2px solid #ccc;
  	border-radius: 4px;
  	background-color: #f8f8f8;
 	resize: none;
}

.formPublicacion{
	border: 2px solid #ccc;
	border-radius: 4px;
	padding: 2%
}

.imgPerfil{
	padding: 2%;
}

.editaIPerfil{

}
.editarImg{
	
}